*{
    font-family: 'Libre Caslon Display', serif;
}
body{
    color: black;
    background: url(fundo.jpeg) repeat;
    /*background-size: 100%;
    background-color: antiquewhite;*/
}


.geral{
    margin-top: 50px;
    background-color: white;
    height: 500px;
    width: 400px;
    text-align: center;
    display: inline-block;
    margin-left: 30%;
    border-radius: 50px;
}

#retorno{
    color: black;
}

#des{
    margin-left: 12px;
}
.botões{
    margin-left: 115px;
}

#retorno{
    margin-top: 50px;
}

#cifrar{
    border-radius: 50px;
    outline: 0;
}

#decifrar{
    border-radius: 50px;
    outline: 0;
}

#cd{
    border-radius: 30px;
    outline: 0;
}

#des{
    border-radius: 30px;
    outline: 0;
}

.img{
    padding: 20px;
}